[submodule "thirdparty/GTAVMenuBase"]
	path = thirdparty/GTAVMenuBase
	url = https://github.com/E66666666/GTAVMenuBase.git
[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/brofield/simpleini
[submodule "thirdparty/sol"]
	path = thirdparty/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "thirdparty/GTAV-Classes"]
	path = thirdparty/GTAV-Classes
	url = https://github.com/Mr-X-GTA/GTAV-Classes-1.git
